@page "/Articulo/Details/{ArticuloId:int}"
@using TecnicosRegistro.Models
@using TecnicosRegistro.Service
@inject ArticuloService articuloService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Details</PageTitle>
<div class="container">
	<div class="shadow-lg">
		@*Header*@
		<div class="card-header text-center">
			<h3><strong>Datos del Articulo</strong></h3>
		</div>
		@*Body*@
		<div class="card-body">
			<ul class="mt-5">
				<li><strong>Id:</strong>@Articulo.ArticuloId</li>
				<li><strong>Descripcion:</strong>@Articulo.Descripcion</li>
				<li><strong>Costo:</strong>@Articulo.Costo</li>
				<li><strong>Precio:</strong>@Articulo.Precio</li>
				<li><strong>Existencia:</strong>@Articulo.Existencia</li>
			</ul>
		</div>
		@*Footer*@
		<div class="card-footer text-center">
			<button type="button" class="btn btn-primary" @onclick="Volver">Volver</button>
		</div>
	</div>
</div>



@code {
	[Parameter]
	public int ArticuloId { get; set; }

	public Articulo Articulo { get; set; } = new Articulo();

	protected override async Task OnInitializedAsync()
	{
		Articulo = await articuloService.Buscar(ArticuloId);
	}

	public void Volver()
	{
		navigationManager.NavigateTo("/Articulo/Index");
	}


}




