@page "/Articulo/Index"
@using TecnicosRegistro.Models
@using TecnicosRegistro.Service
@inject ArticuloService articuloService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="card-shadow-lg">
        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Listado de Articulos</strong></h3>
        </div>
        @*Body*@
        <div class="card-body">
            @*Labels*@
            <div class="row">
                @*Filtrar por*@
                <div class="col-3">
                    <label class="form-label"><strong>Filtrar Por</strong></label>
                </div>
                @*ValorFiltro*@
                <div class="col-4">
                    <label class="form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>
            @*Inputs y Botones*@
            <div class="row">
                @*Filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="Id">Id</option>
                        <option value="Descripcion">Descripcion</option>
                        <option value="Costo">Costo</option>
                        <option value="Precio">Precio</option>
                    </InputSelect>
                </div>
                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>
                @*Restablecer*@
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Restablecer"></button>
                </div>
                @*Crear*@
                <div class="col text-end">
                    <button type="button" class="btn btn-primary bi bi-plus-circle" @onclick="Crear"></button>
                </div>
            </div>
            <table class="table table-bordered text-center mt-4">
                <thead>
                    <tr>
                        <th>ArticuloId</th>
                        <th>Descripcion</th>
                        <th>Costo</th>
                        <th>Precio</th>
                        <th>Existencia</th>
                        <th>Observar</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var articulo in ListaArticulos)
                    {
                        <tr>
                            <td>@articulo.ArticuloId</td>
                            <td>@articulo.Descripcion</td>
                            <td>@articulo.Costo</td>
                            <td>@articulo.Descripcion</td>
                            <td>@articulo.Existencia</td>

                            @*Pantalla Observar*@
                            <td>
                                <button type="button" class="btn btn-outline-primary bi bi-eye"
                                        @onclick="()=> Observar(articulo.ArticuloId)"></button>
                            </td>
                            @*Pantalla Editar*@
                            <td>
                                <button type="button" class="btn btn-outline-warning bi bi-pencil"
                                        @onclick="()=> Editar(articulo.ArticuloId)"></button>
                            </td>
                            @*Pantalla Eliminar*@
                            <td>
                                <button type="button" class="btn btn-outline-danger bi bi-trash3"
                                        @onclick="()=> Eliminar(articulo.ArticuloId)"></button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">
            <p><strong>Total de Articulos </strong>@ListaArticulos.Count()</p>
        </div>
    </div>
</div>


@code {
    public List<Articulo> ListaArticulos { get; set; } = new List<Articulo>();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaArticulos = await articuloService.Listar(a => a.ArticuloId > 0);
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            if (Filtro == "Id" && int.TryParse(ValorFiltro, out int articuloId))
                ListaArticulos = await articuloService.Listar(a => a.ArticuloId == articuloId);
            else if (Filtro == "Descripcion")
                ListaArticulos = await articuloService.Listar(a => a.Descripcion.ToLower().Contains(ValorFiltro.ToLower()));
        }
        else
        {
            ListaArticulos = await articuloService.Listar(a => a.ArticuloId > 0);
        }
    }

    private async Task Restablecer()
    {
        ListaArticulos = await articuloService.Listar(a => a.ArticuloId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }

    public void Crear()
    {
        navigationManager.NavigateTo("/Articulo/Create");
    }

    public void Observar(int id)
    {
        navigationManager.NavigateTo($"/Articulo/Details/{id}");
    }

    public void Editar(int id)
    {
        navigationManager.NavigateTo($"/Articulo/Edit/{id}");
    }

    public void Eliminar(int id)
    {
        navigationManager.NavigateTo($"/Articulo/Delete/{id}");
    }
}