@page "/Tabajo/Index"
@using TecnicosRegistro.DAL
@using TecnicosRegistro.Models
@using TecnicosRegistro.Service
@inject TrabajoService trabajoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer



<PageTitle>Index</PageTitle>
<div class="container">
    <div class="card-shadow-lg">
        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Listado de Clientes</strong></h3>
        </div>
        @*Body*@
        <div class="card-body">
            @*Labels*@
            <div class="row">
                @*Filtrar por*@
                <div class="col-3">
                    <label class="form-label"><strong>Filtrar Por</strong></label>
                </div>
                @*ValorFiltro*@
                <div class="col-4">
                    <label class="form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>
            @*Inputs y Botones*@
            <div class="row">
                @*Filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="Id">Id</option>
                        <option value="Nombre">Nombre</option>
                        <option value="WhatssApp">WhatssApp</option>
                    </InputSelect>
                </div>
                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>
                @*Restablecer*@
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Restablecer"></button>
                </div>
                @*Crear*@
                <div class="col text-end">
                    <button type="button" class="btn btn-primary bi bi-plus-circle" @onclick="Crear"></button>
                </div>
            </div>
            <table class="table table-bordered text-center mt-4">
                <thead>
                    <tr>
                        <th>TrabajoId</th>
                        <th>Fecha</th>
                        <th>ClienteId</th>
                        <th>TecnicoId</th>
                        <th>Descripcion</th>
                        <th>Monto</th>
                        <th>Observar</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var trabajo in ListaTrabajo)
                    {
                        <tr>
                            <td>@trabajo.TrabajoId</td>
                            <td>@trabajo.Fecha</td>
                            <td>@trabajo.ClienteId</td>
                            <td>@trabajo.TecnicoId</td>
                            <td>@trabajo.Descripcion</td>
                            <td>@trabajo.Monto</td>
                           
                            
                            @*Pantalla Observar*@
                            <td>
                                <button type="button" class="btn btn-outline-primary bi bi-eye"
                                        @onclick="()=> Observar(trabajo.TrabajoId)"></button>
                            </td>
                            @*Pantalla Editar*@
                            <td>
                                <button type="button" class="btn btn-outline-warning bi bi-pencil"
                                        @onclick="()=> Editar(trabajo.TrabajoId)"></button>
                            </td>
                            @*Pantalla Eliminar*@
                            <td>
                                <button type="button" class="btn btn-outline-danger bi bi-trash3"
                                        @onclick="()=> Eliminar(trabajo.TrabajoId)"></button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">
            <p><strong>Total de Clientes</strong>@ListaTrabajo.Count()</p>
        </div>
    </div>
</div>


@code {

    public List<Trabajo> ListaTrabajo { get; set; } = new List<Trabajo>();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaTrabajo = await trabajoService.Listar(t => t.ClienteId > 0);
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            if (Filtro == "Id" && int.TryParse(ValorFiltro, out int trabajoId))
                ListaTrabajo = await trabajoService.Listar(t => t.TrabajoId == trabajoId);


        }
        else
            ListaTrabajo = await trabajoService.Listar(t => t.ClienteId > 0);
    }

    private async Task Restablecer()
    {
        ListaTrabajo = await trabajoService.Listar(t => t.TrabajoId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }


    public void Crear()
    {
        navigationManager.NavigateTo("/Trabajo/Create");
    }

    public void Observar(int id)
    {
        navigationManager.NavigateTo($"Trabajo/Details/{id}");
    }

    public void Editar(int id)
    {
        navigationManager.NavigateTo($"/Trabajo/Edit/{id}");
    }

    public void Eliminar(int id)
    {
        navigationManager.NavigateTo($"/Trabajo/Delete/{id}");
    }


}
